name: Docker PIVPN Dev

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: docker login
      run: |
        echo ${{ secrets.DOCKER_PASSWORD }} | docker login --username ${{ secrets.DOCKER_USER }} --password-stdin  
    - name: docker buildx multiarch
      run: |
        docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
        docker buildx create --name multiarch --driver docker-container --use
        docker buildx inspect --bootstrap
    - name: docker build docker
      env:
        DOCKER_USER: ${{ secrets.DOCKER_USER }}   
      run: |
        docker buildx build . -t $DOCKER_USER/pivpn-openvpn:latest --platform linux/arm64/v8 --push
        
# ,linux/386,linux/arm/v5,linux/arm/v7,linux/amd64
# linux/386,linux/amd64,linux/arm/v5,linux/arm/v7,linux/arm64/v8
